html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:url("./assets/images/halftone-background-with-circles/5172658.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


ol, ul {
    list-style: none;
  }

  body,div,h1,h2,h3,p{
    margin: 0;
    padding: 0;
    border: 0;
  }
  button{
    outline: none;
    border: none;
  }
  

